<% if sessions.empty? %>
  <p>No sessions available</p>
<% else %>

<div class = "divTable" style="margin-top:20^px;">
  <div class="rowContent">
    <div class="cell" style="width:200px;">
      Update database and call all reconnaissance methods.
    </div>
    <div class="cell" style="vertical-align:middle;">
      <% form_tag execreconnaissance_tasks_url do |f| %>
        <%= hidden_field_tag 'sessionID', sessions[0].session_uuid %>  <!-- quick sessions[0]-->
        <%= submit_tag :Reconnaissance %>
      <% end %>
    </div>
  </div>
</div>


<% end %>


