!!!
%html
  %head
    %title FIDIUS CC version 0.1.0
    %script{:src => '/jquery-1.4.3.min.js'}
    %script{:src => '/cc.js'}
    %link{:href => '/layout.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %h1 FIDIUS CC version 0.1.0
    =yield

