<h2>Sessions</h2>
<table border="1">
<tr>
  <th>Exploit name</th>
  <th>Payload name</th>
  <th>Exploited at</th>
  <th>Service</th>
</tr>
<% exploits.each do |exploit| %>
<tr>
  <td><%= exploit.name %></td>
  <td><%= exploit.payload %></td>
  <td><%= exploit.created_at %></td>
  <td><%= exploit.service.name %></td>
</tr>
<% end %>
</table>
