<table width="100%" class="tablesorter sortable">
<thead>
<tr>
  <th>Action</th>
  <th>Time</th>
  <th>Events</th>
</tr>
</thead>
<tbody>
<% @idmef_event_groups.each do |grp| %>
<tr>
  <td><%= link_to grp.title, '#', :onclick => "link_to_dialog('/hosts/#{params[:id]}/idmef_events', 'IDMEF Events')" %></td>
  <td><%= l grp.time %></td>
  <td><%= grp.idmef_count %></td>
</tr>
<% end %>
</tbody>
</table>

<script>
$(function() {
  $(".tablesorter").tablesorter(); 
}); 
</script>
