<table width="100%" class="tablesorter sortable">
<thead>
<tr>
  <th>Action</th>
  <th>Source</th>
  <th>Dest</th>
  <th>Time</th>
  <th>Events</th>
</tr>
</thead>
<tbody>
<% @idmef_event_groups.each do |grp| %>
<tr>
  <td><a href="#" onclick="link_to_dialog('/hosts/1/idmef_events');"><%= grp.title %></a></td>
  <td>10.20.20.1:70</td>
  <td>10.0.0.5:80</td>
  <td><%= l grp.time %></td>
  <td><%= grp.idmef_count %></td>
</tr>
<% end %>
</tbody>
</table>

<script>
$(function() {
  $(".tablesorter").tablesorter(); 
}); 
</script>
