<% if @show_nvd %>
  <table>
    <tr>
      <th>CVE</th>
      <th>Description</th>
    </tr>
    <%= render :partial => 'nvd_entry', :collection => @nvd_entries %>
  </table>
<% else %>
  <%= button_to 'Search NVD-Entries', :url => { :action => :nvd_entries },
      :update => "nvd_entries", :method => :get,:remote=>true %>
<% end %>
<br />
<div id="centerBox">
  <%= render :partial => 'nvd_entry_info', :collection => @nvd_entries %>
</div>
