<% if @show_nvd %>
  <table>
    <tr>
      <th>CVE</th>
      <th>Description</th>
    </tr>
    <%= render :partial => 'nvd_entry', :collection => @nvd_entries %>
  </table>
<% else %>
  'Search NVD-Entries'
<% end %>
<br />
<div id="centerBox">
  <%= render :partial => 'nvd_entry_info', :collection => @nvd_entries %>
</div>
