<img id="loading_indicator" src="/images/ajax-loading.gif" width="100" style="z-index:99;position:absolute;margin-left:200px;margin-top:200px;display:none;">

<div style="width:100%;background: #ccc;border: 1px solid #333;">
<div id="holder" style="position:relative;width:50%;height:600px;float:left;z-index:0;">
</div>
<div id="context-menu" "style="position:relative;float:right;width:40%;height:600px;margin-bottom:10px;margin-right:10px"></div>        
<div style="clear:both"></div>
</div>

<script>
window.onload = function () {
    //alert($('loading_indicator'));
    //$('#loading_indicator').show();
    jQuery.ajax('/hosts/svg_graph',{beforeSend:function(){$('#loading_indicator').show();},success:function(){ $('#loading_indicator').hide(); }});
};
</script>

