<div class="shadow_border" style="padding-top:150px;">
<div id="holder" style="position:relative;width:600px;height:600px;float:left;"></div>
<div id="context-menu" "style="position:relative;border: 1px solid #000;float:left;"></div>        
<div style="clear:both"></div>
</div>

<script>
window.onload = function () {
    new Ajax.Request('/hosts/svg_graph', {asynchronous:false, evalScripts:true, method:'get',
    on404:function(request){alert('Not found...? Wrong URL...?')},
    onFailure:function(request){alert('HTTP Error ' + request.status + '!')}}); 
};
</script>

