<h2>Scan&Attack:</h2>
<% form_for :tasks, :url => scan_tasks_url do |f| %>
  <%= text_field_tag :subnet %>
  <%= submit_tag 'fidius me' %>
<% end %>
<%= link_to "Alle Hosts löschen", clear_hosts_url %>
<hr>
<div id="holder" style="border: 1px solid #000;width:600px;height:600px;float:left;"></div>
<div id="context-menu" "style="border: 1px solid #000;width:800px;height:600px;float:left;"></div>        
<script>
window.onload = function () {
    new Ajax.Request('/hosts/svg_graph', {asynchronous:false, evalScripts:true, method:'get',
    on404:function(request){alert('Not found...? Wrong URL...?')},
    onFailure:function(request){alert('HTTP Error ' + request.status + '!')}}); 
};
</script>
