body {
  background-color: #fff; color: #333;
  margin: 0;
  padding: 1em
}

body, p, ol, ul, td {
  font-family: sans-serif;
  font-size:   13px;
  line-height: 18px;
}
h1{
  font-size:   32px;
}
h2{
  font-size:   18px;
}
h3{
  font-size:   16px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #333;
  text-decoration: none;
  border: solid #333;
  border-width: 0 0 1px;
}
th a {
  color: #fff;
  border-color: #fff;
}
a:hover {
  border: none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

table {
  border-collapse: collapse;
}

tr.exploited {
  background-color: #9f9;
}

td, th {
  padding: .1em .5em;
}

tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background: #333;
  color: #fff;
  text-align: left;
}

.match {
  background: #fcfcfc;
  -moz-box-shadow: 0 0 5px #333;
  padding: .5em;
  border: 5px solid #fff;
  margin: 2em 0;
  clear: both;
}

.match .prelude_event {
  float: left;
  max-width: 50%;
}

.match .msf_exploit {
  margin-left: 51%;
}

hr.clear {
  clear: both;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

#welcome, #welcome h1 {
  margin: 3em auto;
  text-align: center;
}

#welcome h1 a span {
  display: none;
}

#welcome h1, #welcome h1 a {
  display: block;
  width: 423px;
  height: 175px;
  border: none;
  padding: 0;
}

#welcome h1 a {
  background: transparent url(/images/fidius.png) center no-repeat;
}

#welcome h1 a:hover {
  border: none:
}

#welcome input {
  font: 18px/22px sans-serif;
  width: 15em;
  margin: 0;
  padding: .25em;
  text-align: center;
}

#welcome input[type="submit"] {
  width: 4em;
}

#welcome ul {
  margin: 5em 0 1em;
  padding: 0;
}

#welcome ul li {
  display: inline;
  padding: 1em 2em;
}
