body {
  margin: 2em auto;
  width: 50em;
  max-width: 100%;
}

dt {
  font-weight: bold;
  float: left;
  width: 14em;
}

dd {
  margin-left: 15em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left
}

td, th {
  padding: .1em .5em;
}

thead {
  border-bottom: 1px solid black;
}
