<div style="background-color:#000;background: url(/images/topnav_bg.gif) repeat-x;">
<ul class="topnav">  
    <li>  
      <a href="#">Pentest</a>  
      <ul class="subnav">  
        <li><a href="#" onclick="jQuery.ajax('/actions/new_pentest');">Start new</a></li>
        <li><a href="#" onclick="open_tasks();" id="task_count">Tasks</a></li>
        <li><a href="#" onclick="link_to_dialog('/welcome/report', 'Report');">Report</a></li>
        <li><a href="#" onclick="link_to_dialog('/knowledge', 'Knowledge')">Knowledge</a></li> 
        <li><a href="#" onclick="open_console();">MsfConsole</a></li>  
      </ul>  
    </li>

    <li>  
      <a href="#">Actions</a>  
      <ul class="subnav">
        <li><a href="#" onclick="$('#scan-dialog').dialog('open', 'Scan'); ">Scan</a></li>  
        <li><a href="#" onclick="$('#browser-autopwn-dialog').dialog('open');">Start BrowserAutopwn</a></li>  
        <li><a href="#" onclick="$('#file-autopwn-dialog').dialog('open');">Start FileAutopwn</a></li>  
      </ul>  
    </li>
    <li>  
      <a href="#">AI</a>
      <ul class="subnav">
        <li><a href="#" onclick="jQuery.ajax('/actions/reset_agent');">Reset</a></li>
        <li><a href="#" onclick="jQuery.ajax('/actions/next_target');">Next Target</a></li>
      </ul>  
    </li>
    <li>
      <a href="#">Help</a>
      <ul class="subnav">
        <li><a href="#" onclick="link_to_dialog('/welcome/documentation', 'Documentation');">Documentation</a></li>
        <li><a href="#" onclick="link_to_dialog('/welcome/credits', 'Credits');">Credits</a></li>
      </ul>  
    </li>  
 </ul> 
<div style="clear:both;"></div>
</div>

<script>
$(document).ready(function(){

	$("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled (Adds empty span tag after ul.subnav*)

	$("ul.topnav li span").click(function() { //When trigger is clicked...

		//Following events are applied to the subnav itself (moving subnav up and down)
		$(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click

		$(this).parent().hover(function() {
		}, function(){
			$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
		});

		//Following events are applied to the trigger (Hover events for the trigger)
		}).hover(function() {
			$(this).addClass("subhover"); //On hover over, add class "subhover"
		}, function(){	//On Hover Out
			$(this).removeClass("subhover"); //On hover out, remove class "subhover"
	});

});

$( "#dialog2" ).dialog({ autoOpen: false, width:800});
<% 10.times do |i| %>
$( "#progressbar<%= i %>" ).progressbar({
			value: <%= i*5 %>
		});
<% end %>
</script>



