<h2>FIDIUS Command&amp;Control Server</h2>
<p>
  <strong>FIDIUS Intrusion Detection with Intelligent User Support</strong>
  [<a href="http://fidius.me/">www</a>]:
  <%= link_to '2-clause BSD license', license_url %>.
</p>

<h2>Third-party addons</h2>
<p>
  <strong>Ruby on Rails</strong>
  [<a href="http://www.rubyonrails.org/">www</a>]:
  3-clause BSD license.
</p>
<p>
  <strong>Metasploit Framework 3.5.0</strong>
  [<a href="http://www.metasploit.com/">www</a>]:
  <a href="">MIT license</a>.
</p>
<p>
  <strong>FamFamFam Silk Icon Set</strong>
  [<a href="http://famfamfam.com/lab/icons/silk/">www</a>]:
  <a href="http://creativecommons.org/licenses/by/2.5/">CC-by 2.5</a>.
</p>

