<h1>Task:<%= @task.module %></h1>

<table border="1">
<tr>
<th>Exploit</th>
<th>Payloadsize</th>
<th>Time</th>
</tr>
<% @task.payload_logs.each do |payload| %>
<tr>
  <td><%= link_to payload.exploit,payload %></td>
  <td><%= payload.payload.size %></td>
  <td><%= payload.created_at %></td>
</tr>  
<% end %>
</table>
