msf_path: "path to msf"
subnet_manager_path: "path to /msf-autopwn/lib/subnet_manager.rb"
drb_url: druby://localhost:25678
# welches device soll tcpdump zum mitsniffen von nmap nehmen?
tcpdump_iface: "tap0"
# sollen prelude & payloadlogs generiert und verglichen werden?
match_prelude_logs: false
def_user: "username"
# falls man in einem script die ENV['HOME'] ausliest aber als
# root den candc-server startet und dann msf in /root/ gesucht wird.