<h1> Running Multihandler </h1>
<table>
<tr>
  <th> Payload </th>
  <th> Interface </th>
  <th> Port </th>
  <th> Start Time </th>
</tr>
<%= render :partial => "multihandler", :collection => @multihandlers %>
</table>
