<% status = get_msf_worker.status rescue nil %>

<div id="status">
  <div>
    MSF worker:
    <% if status.nil? -%>
      <strong>Not running.</strong>
      <%= link_to image_tag('start.png', :alt => 'start'), start_workers_url, :method => :post %>
    <% else -%>
      <strong><%=h status.titleize %>.</strong>
      <%= link_to image_tag('restart.png', :alt => 'restart'), restart_workers_url, :method => :put %>
      <%= link_to image_tag('stop.png', :alt => 'stop'), stop_workers_url, :confirm => 'Are you sure?', :method => :delete %>
    <% end -%>
  </div>
</div>
