<h1>MSF worker</h1>

<dl>
  <dt>Current status</dt>
  <dd>sleeping, running?</dd>

  <dt>Actions</dt>
  <dd>
    <%= link_to 'start', start_workers_url, :method => :post %>,
    <%= link_to 'restart', restart_workers_url, :method => :put %>,
    <%= link_to 'stop', stop_workers_url, :confirm => 'Are you sure?', :method => :delete %>
  </dd>
</dl>

<pre>
<%=h @current_server.inspect %>
</pre>
