<h1>MSF worker</h1>

<table class="log">
  <tr>
    <th>Timestamp</th>
    <th></th>
  </tr>
  <% @logs.each do |log| %>
    <tr>
      <td><%=h log.created_at %></td>
      <td><%=h log.message %></td>
    </tr>
  <% end %>
</table>
