<h1>MSF worker log</h1>

<table class="log">
  <tr>
    <th class="thin">Timestamp</th>
    <th>Message</th>
  </tr>
  <% @logs.each do |log| %>
    <tr>
      <td class="thin"><%=h log.created_at %></td>
      <td><%=h log.message %></td>
    </tr>
  <% end %>
</table>
